/* Landing Div CSS */

body p {
    font-family: 'Press Start 2P', cursive;
}

.main-div {
    background: url('Images/bg.png');
    background-size: cover;
    font-family: 'Press Start 2P', cursive;
    font-size: larger;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-button {
    appearance: none;
    background-color: rgba(0, 77, 97);
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    line-height: 20px;
    margin: 10px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.main-input[type="text"] {
    height: 100%;
    width: 100%;
    font-family: 'Press Start 2P', cursive;
    font-size: large;
    padding: 12px 20px;
    box-sizing: border-box;
}

#roomCodeContainerLobby {
    display: flex;
    flex-direction: row;
    align-items: center;
}


#listHolderDivLobby {
    list-style: none;
    padding: 0;
    margin: 0;
}

#room-players li {
    padding-left: 1rem;
    text-indent: -0.75rem;
}

#room-players li::before {
    content: "🐍";
}

#startGameButtonContainerLobby {
    text-align: center;
}

#start-game {
    position: fixed;
    bottom: 0;
}

/* Game */
#leaderboard-canvas-flex {
    display: flex;
    flex-flow: row nowrap;
}

/* Leaderboard */
#leaderboard {
    width: 25%;
    margin: 0;
    border: 1px solid black;
}

.leaderboard-row {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 20%;
    background-color: #ecacac;
    justify-content: center;
    color: #004d61;
}

.leaderboard-row-even {
    background-color: #f1d4d4;
}